:root {
  --background-color: #f9f9f9;
  --heading-text-color: #333;
  --container-bg-color: #fff;
  --container-box-shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #000000;
  --btn-txt-color: white;
}

html.dark-mode {
  --background-color: #2c2c2e;
  --heading-text-color: #c7c7c7;
  --container-bg-color:  rgb(10, 10, 10, 0.4);
  --text-color: #c7c7c7;
  --btn-txt-color:#c7c7c7;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 10px;
  min-width: 500px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  margin-right: 10px;
}

.header h2 {
  margin: 0;
  color: var(--heading-text-color);
}

#hadith-container {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--container-bg-color);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--container-box-shadow-color);
}

#hadith,
#explanation {
  margin-top: 20px;
  font-size: 1.5em;
  font-family: 'Amiri', serif;
  direction: ltr;
  color: var(--text-color);
}

#explanation-container {
  display: none;
}

details summary {
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text-color);
}

#go-to-options {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 48px;
}
